<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Display</title>
    <style>
        table {
          border-collapse: collapse;
          width: 100%;
        }
        th, td {
          border: 1px solid;
          padding: 8px;
          text-align: left;
        }
        th {
          background-color: #f2f2f2;
        }
      </style>
  </head>
  <body>
    <table>
        <thead>
            <tr>
                {% for column in columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
                <tr>
                    {% for value in movie %}
                        <td>{{ value|default:"None" }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
          </tbody>
    </table>
  </body>
</html>
