<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Display</title>
    <style>
        table {
          border-collapse: collapse;
          width: 100%;
        }
        th, td {
          border: 1px solid;
          padding: 8px;
          text-align: left;
        }
        th {
          background-color: #f2f2f2;
        }
      </style>
  </head>
  <body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Homeworld</th>
                <th>Climate</th>
            </tr>
        </thead>
        <tbody>
            {% for value in characteristics %}
                <tr>
                    <td>{{ value.name }}</td>
                    <td>{{ value.homeworld }}</td>
                    <td>{{ value.climate }}</td>
                </tr>
            {% endfor %}
          </tbody>
    </table>
  </body>
</html>
